body {
    
    margin: 0px;
    padding: 0px;
    background: #F4F7F3;
	font-family: Arial, Helvetica, sans-serif;

}

#page_preheader {
    
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0;
    background: #efeded;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNmM2YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #efeded 0%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efeded), color-stop(100%,#c6c6c6));
    background: -webkit-linear-gradient(top,  #efeded 0%,#c6c6c6 100%);
    background: -o-linear-gradient(top,  #efeded 0%,#c6c6c6 100%);
    background: -ms-linear-gradient(top,  #efeded 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom,  #efeded 0%,#c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeded', endColorstr='#c6c6c6',GradientType=0 );
    
}

#page_preheader .content {
    
    width: 950px;
    padding: 0;
    margin: 0px auto;
    
}

#page_preheader .sitename {
    
    font-size: 4.5em;
    font-weight: bold;
    float: left;
    padding-left: 10px;
    margin-top: -6px;
    cursor: default;
    text-shadow: 1px 1px 5px #888;
    
}

#page_preheader .sitename a {
    
    text-decoration: none;
    color: #6b3732;
    
}

#page_preheader .topmenu {
    
    font-size: 1.3em;
    float: right;
    padding-right: 15px;
    
}

#page_preheader .topmenu ul {
    
    display: block;
    list-style: none;
    margin-top: 0px;
    
}

#page_preheader .topmenu ul li {
    
    display: inline-block;
    text-align: right;
    text-decoration: none;
    float: left;
    
}

#page_preheader .topmenu ul li:hover {
    
    background: rgb(224,224,224);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f2f2f2',GradientType=0 );
    
}

#page_preheader .topmenu ul li a {
    
    color: #545454;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: color 0.7s;
    -webkit-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
    
}

#page_preheader .topmenu ul li a:hover {
    
    color: #6b3732;
    
}

#page_header {
    
    width: 100%;
    height: 200px;
    margin: 0;
    background: url(images/header.jpg) repeat-x;
    color: #fcfcfc;
 
}

#page_header .content {
    
    width: 930px;
    height: 100%;
    margin: 0px auto;
    padding-top: 20px;
    top: -50%;
    
}

#page_header .logo {
    
    width: 150px;
    height: 100%;
    float: right;
    
}

#page_header .text {
    
    float: left;
    width: 730px;
    text-shadow: 2px 2px 10px #241324;
    
}

#page_header a {
    
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

#page_header a:hover {
    
    text-decoration: underline;
    
}

#page_postheader {
    
    width: 100%;
    height: 30px;
    margin: 0;
    background: url(images/postheader.jpg) repeat-x;
    
}

#page_center {
    
    width: 100%;
    margin: 0px auto;
    width: 930px;
    
}

#page_center .content {
    
    float: left;
    width: 730px;
    
}

#page_center .content header {
    
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    
}

#page_center .sidebar {
    
    width: 180px;
    float: right;
    padding-left: 10px;
    
}

#page_center .sidebar header {
    
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    
}

#page_center .content .code {
    
    font-weight: bold;
    padding: 3px 20px;
    margin: 20px 20px;
    background: #eceeeb;
    border: 3px solid white;
    outline: 2px solid lavender;
    -moz-transition: background 0.7s, -moz-box-shadow 0.3s;
    -webkit-transition: background 0.7s, -webkit-box-shadow 0.3s;
    -o-transition: background 0.7s;
    transition: background 0.7s, box-shadow 0.3s;
    max-height: 350px;
    overflow: auto;
        
}

#page_center .content .code:hover {
    
    background: whitesmoke;
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    
}

#page_center .content .code .header {
    
    font-size: 1.2em;
    border-bottom: 3px dashed lavender;
    color: maroon;
    padding-bottom: 4px;
    margin-bottom: 4px;
    
}

#page_center .content .code .header .about {
    
    font-size: 0.8em;
    display: inline-block;
    padding-left: 15px;
    font-weight: normal;
    text-align: right;
    
}

#page_center .content .code .header .select {
    
    font-size: 0.9em;
    float: right;
    font-weight: normal;
    text-align: right;
    cursor: pointer;
    
}

#page_center .content .code .header .select:hover {
    
    font-weight: bold;
    
}

#page_center .sidebar li {

	list-style: none;
	margin-left: -40px;
	
}

#page_center .sidebar li a {
    
    display: block;
    padding: 3px 0px;
    border-bottom: 1px solid lavender;
    color: #65000b;
    text-decoration: none;
    -moz-transition: letter-spacing 0.3s, padding-left 0.3s;
    -webkit-transition: letter-spacing 0.3s, padding-left 0.3s;
    -o-transition: letter-spacing 0.3s, padding-left 0.3s;
    transition: letter-spacing 0.3s, padding-left 0.3s;
    
}

#page_center .sidebar li a:hover {
    
    letter-spacing: 1px;
    padding-left: 4px;
    
}

#page_center .sidebar li a:active {
    
    color: #7C0A02;
    
}

#page_center #prefooter {
    
    
    margin: 25px 0px 10px 0px;
    width: 930px;
            
}

#page_center #prefooter .block {
    
    background: #eceeeb;
    border: 3px solid white;
    outline: 2px solid lavender;
    width: 240px;
    padding: 10px;
    float: left;
    height: 130px;
    margin: 0px 20px;
    text-align: center;
    cursor: default;
    -moz-transition: background 0.7s, -moz-box-shadow 0.3s;
    -webkit-transition: background 0.7s, -webkit-box-shadow 0.3s;
    -o-transition: background 0.7s;
    transition: background 0.7s, box-shadow 0.3s;
    
}

#page_center #prefooter .block:hover {
    
    background: whitesmoke;
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.30);
    
}

#page_center #prefooter header {
    
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 1.1em;
    
}

#page_postcenter {
    
    width: 100%;
    height: 30px;
    margin: 0;
    background: url(images/postcenter.jpg) repeat-x;
        
}

#page_footer {
    
	width: 100%;
    height: 80px;
    display: table;        
	margin: 0;        
    background: url(images/footer.jpg) repeat-x;
    color: #fcfcfc;
    text-align: center;
    position: relative;
    
}

#page_footer .content {

    width: 930px;
    display: table-cell;
    vertical-align: middle;        
    margin: 0px auto;
    padding: 15px;
    text-shadow: 2px 2px 5px #241324;
    background-color: gray\9; /*ie hack*/
    filter: chroma(color=gray) shadow(color=black,direction=180,strength=1); /*ie hack*/

}

.clear {
    
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 0px;

}

a {
    
    color: #2d2d2d;
    
}

a:hover {
    
    text-decoration: none;
    
}

.form_description {
    
    float: left;
    min-width: 120px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 12pt;
    line-height: 30px;
    
}

.form_input {
    
    float: left;
    width: 294px;
    padding-left: 5px;
    text-align: left;
    line-height: 30px;
    border-left: 2px solid #fcfcfc;
    
}

.form_input input {
    
    width: 150px;
    height: 26px;
    border: 1px solid lightgray;
    padding: 0px 5px 0px 5px;
    color: darkslategray;
    font-size: 1.05em;
    background: #FEFEFF;
    
}

.form_input input:focus {
    
    outline: 2px solid lightblue;
    background-color: ghostwhite;
    color: lightslategray;
    font-weight: bold;
    
}

.button:hover {
    
    border: 1px solid lightslategray;
    color: gray;
    
}

.button:active {
    
    border: 1px solid black;
    color: gray;
    
}